[defaults]
inventory = ansible/inventory.yml
host_key_checking = False
remote_user = ubuntu
become = True
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .cache
stdout_callback = default
default_result_format = yaml
vault_password_file = .vault_pass
interpreter_python = /usr/bin/python3.12
roles_path = ansible/roles
deprecation_warnings = False
inject_facts_as_vars = False
