services:
  gitea:
    image: gitea/gitea:1.23
    container_name: gitea
    restart: unless-stopped
    volumes:
      - ./data:/data
      - ./config:/etc/gitea
      - ./ssh:/data/ssh
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - "3000:3000"
      - "2222:22"
